html{
    font-family: sans-serif;
}

body{
    width: 1024px;
    margin: 0 auto;
    background-color:linen;
    
    
   display: grid;
   grid-template-rows: 1fr,1fr,1fr,1fr /1fr,1fr;
    padding: 0;
    
}

header{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: peru;
}

.logo{
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar {
    flex: 2;
}

.navitems{
 display: flex;
 justify-content: space-evenly;
}

.login {
    flex: 1;
    text-align: end;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 10px;
}


.mainclass{

    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: 1fr,1fr;       
    border-radius:2px solid;
    border: lightgreen;

    
}
.heading{
    margin-right: 200px; 
    background-color:lightcoral;
    grid-column-start: 1;
    grid-column-end: 2;
}
.detail{
    margin-right: 2px;
    background-color:lightcoral;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
.aside{
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 10px;
    background-color:peru;
   
}
.article1{
    margin-right: 2px;
    margin-bottom: 2px;
    background-color:orange;
    color:mintcream;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:3;
    grid-row-end: 6;
}
.article2
{
    margin-right: 2px;
    margin-bottom: 2px;
    background-color:orange;
    color:mintcream;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:3;
    grid-row-end: 6;
}



footer{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    background-color: magenta;
}
.form-container{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-title{
    background-color: chartreuse;
    padding: 10px;
    display: inline-block;
    margin-left: -340px;
    text-transform: uppercase;
}
.form{
    background-color: cyan;
    padding: 50px;
    border: 1px solid blueviolet;
    border-radius: 10px;
}
.reset{
    color: white;
    font-weight: bold;
    background-color:red;
    padding: 5px 9px;
    border: none;
    border-radius: 5px;
}

.reset:hover {
    color: darkblue;
    cursor: pointer;
}
.submit{
    color: white;
    font-weight: bold;
    background-color: greenyellow;
    padding: 5px 9px;
    border: none;
    border-radius: 5px;
}

.submit:hover {
    color: darkblue;
    cursor: pointer;
}
